#container {
    /* 70pxのマスが8個 + 1pxのボーダーが9本 */
    width: 569px;

    margin-left : auto;
    margin-right: auto;
}
header {
    text-align: center;
}
table {
    width : 100%;
    border-collapse : collapse;
}
td, th {
    margin : 0px;
    padding: 0px;

    width : 70px;
    height: 70px;
    border : 1px solid black;

    font-size: 30px;
    text-align: center;
}
th {
    background-color: #AAAAAA;
}
footer {
    text-align: center;
    margin-top: 20px;
}
footer > button {
    font-size: 30px;
}